<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
      <mat-hint>Inserisci un'email valida.</mat-hint>
      <mat-error>Email errata</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-hint>Inserisci la tua password</mat-hint>
      <mat-error>Password errata</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
