<ng-container *ngFor="let category of categories">
  <mat-list-item [attr.deepLevel]="deepLevel">
    <a matLine [routerLink]="categoryLink(category)">{{ category.title }}</a>
    <ng-container *ngIf="category.children.length > 0">
      <button mat-icon-button (click)="showChildren = !showChildren">
        <mat-icon class="accordion" [ngClass]="{'opened': showChildren}">arrow_forward_ios</mat-icon>
      </button>
    </ng-container>
  </mat-list-item>
  <app-category-item *ngIf="showChildren" [categories]="category.children" [deepLevel]="deepLevel + 1"></app-category-item>
</ng-container>
