<ngu-carousel [inputs]="carouselBanner">

  <ngu-item NguCarouselItem class="bannerStyle">
    <img src="./assets/images/banner/banner_1.svg">
  </ngu-item>

  <ngu-item NguCarouselItem class="bannerStyle">
    <img src="./assets/images/banner/banner_2.png">
  </ngu-item>

  <button NguCarouselPrev mat-icon-button class="leftRs" color="accent">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button NguCarouselNext mat-icon-button class="rightRs" color="accent">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</ngu-carousel>
