<footer>
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <p>
      Skimple seleziona ogni giorno le offerte più vantaggiose del web. L&#180;obiettivo &egrave; quello di fare risparmiare i nostri fan.
      &Egrave; possibile contattare Skimple per chiedere consulenza per gli acquisti online, saremo lieti di aiutarvi. Quindi ricordate che
      per risparmiare basta seguire Skimple!
    </p>
    <p>&copy; Skimple {{ currentYear }} - Versione {{ version.version }}</p>
  </mat-card>
</footer>
