.mat-divider {
  margin: 20px 0px;
}

.mat-header-cell,
.mat-cell {
  justify-content: center;
  text-align: center;
}

.example-element-row .mat-cell {
  border-bottom-width: 0;
}

.mat-row {
  min-height: 0px;
}

.element-row .mat-cell {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.filters {
  padding: 16px;

  .field-number {
    max-width: 25%;
  }
}
