<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="doSearchProduct()">
    <mat-form-field *ngIf="!(isLoadingCateoryProviders$ | async)">
      <mat-select placeholder="Categoria" name="category" [(ngModel)]="filter.searchIndex" required>
        <mat-option *ngFor="let category of (categoryProviders$ | async)" [value]="category.providerCategoryDesc">
          {{category.providerCategoryDesc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-spinner *ngIf="isLoadingCateoryProviders$ | async"></mat-spinner>
    <mat-form-field fxFlex="80%">
      <input matInput type="text" name="keywords" placeholder="Parola chiave" [(ngModel)]="filter.keywords" required>
      <mat-hint class="text-center">Ricerca su Amazon</mat-hint>
    </mat-form-field>
    <button *ngIf="!(isLoadingAdminProducts$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Cerca</button>
    <mat-spinner *ngIf="isLoadingAdminProducts$ | async"></mat-spinner>
  </form>
</section>

<mat-divider></mat-divider>

<section *ngIf="dataSource.data.length > 0">

  <div fxLayout="row" class="filters" fxLayoutAlign="space-around end">
    <mat-form-field fxFlex="80%">
      <input matInput [(ngModel)]="title" type="text" (keyup)="doFilter('title')" placeholder="Categoria o titolo">
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" class="filters" fxLayoutAlign="center end" fxLayoutGap.xs="5px" fxLayoutGap="20px">
    <mat-form-field class="field-number">
      <input matInput [(ngModel)]="minPrice" type="number" (keyup)="doFilter('minPrice')" placeholder="Prezzo minimo">
    </mat-form-field>
    <mat-form-field class="field-number">
      <input matInput [(ngModel)]="maxPrice" type="number" (keyup)="doFilter('maxPrice')" placeholder="Prezzo massimo">
    </mat-form-field>
    <mat-form-field class="field-number">
      <input matInput [(ngModel)]="minPercentage" type="number" (keyup)="doFilter('minPercentage')" placeholder="% minima">
    </mat-form-field>
    <mat-form-field class="field-number">
      <input matInput [(ngModel)]="maxPercentage" type="number" (keyup)="doFilter('maxPercentage')" placeholder="% massima">
    </mat-form-field>
    <mat-form-field class="field-number">
      <input matInput [(ngModel)]="minRatio" type="number" (keyup)="doFilter('minRatio')" placeholder="€ risp. minimi">
    </mat-form-field>
    <mat-form-field class="field-number">
      <input matInput [(ngModel)]="maxRatio" type="number" (keyup)="doFilter('maxRatio')" placeholder="€ risp. massimi">
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]">
  </mat-paginator>

  <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <ng-container matColumnDef="img">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a href="{{element.url}}" target="_blank">
          <img [src]="getImg(element)" [title]="element.title" />
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isAvailable">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon>{{getAvailableIcon(element)}}</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categories">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ getProductCategory(element) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prodotto</mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayout="column">
        <p>{{ element.title }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prezzo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ (element.price || 0) | currency:'EUR' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="offerPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prz. Off.</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ (element.offerPrice || 0) | currency:'EUR' }} <br>
        invece di<br>
        {{ (element.price || 0) | currency:'EUR' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ratio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>€ risparmiati</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ (element.ratio || 0) | currency:'EUR' }}<br>
        con sconto del<br>
        {{ element.percentageSaved || 0 }}%
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell fxFlex="8%" *matHeaderCellDef> </mat-header-cell>
      <mat-cell fxFlex="8%" *matCellDef="let element">
        <button mat-icon-button class="telegram-icon" (click.stop)="openPublishDialog(element)">
          <fa-icon [icon]="['fab','telegram-plane']" size="lg"></fa-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div fxLayout="column">
            <div>
              <a href="{{element.url}}" target="_blank">
                <img [src]="getImg(element)" [title]="element.title" />
              </a>
            </div>
            <div>
              Disponibile
              <mat-icon>{{getAvailableIcon(element)}}</mat-icon>
            </div>
            <div>
              Categoria: {{getProductCategory(element)}}
            </div>
            <div>
              Prezzo: {{ (element.price|| 0) | currency:'EUR' }}<br>
              Prezzo offerta: {{ (element.offerPrice || 0) | currency:'EUR' }}<br>
              Risparmio di: {{ (element.ratio || 0) | currency:'EUR' }}<br>
              Sconto del: {{ element.percentageSaved || 0 }}%
            </div>
            <div>
              {{element.title}}
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"
      (click)="setExpandedElm(element)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row" [class.expanded-detail]="expandedElement === row"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]">
  </mat-paginator>
</section>
