<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/">
      <img src="./assets/images/skimple.svg">
    </a>

    <div fxFlex fxLayoutAlign="end center">

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a *ngIf="!(isAuth$ | async)" mat-menu-item routerLink="/login">Login</a>
        <a *ngIf="!(isAuth$ | async)" mat-menu-item routerLink="/signup">Registrati</a>
        <a *ngIf="isAdmin$ | async" routerLink="/admin" routerLinkActive="router-link-active" mat-menu-item>Sezione
          Admin</a>
        <a *ngIf="isAuth$ | async" mat-menu-item (click)="logout()">Logout</a>
      </mat-menu>

      <mat-divider [vertical]="true"></mat-divider>

      <a mat-icon-button aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a mat-icon-button aria-label="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a mat-icon-button aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a mat-icon-button aria-label="Telegram">
        <i class="fab fa-telegram-plane"></i>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
