$white: white;
$skimple-blue: #1f2147;
$skimple-green: #1c8f3b;

$mat-skimplegreen: (
  50: #e4f2e7,
  100: #bbddc4,
  200: #8ec79d,
  300: #60b176,
  400: #3ea058,
  500: #1c8f3b,
  600: #198735,
  700: #147c2d,
  800: #117226,
  900: #096019,
  A100: #93ffa1,
  A200: #60ff75,
  A400: #2dff48,
  A700: #14ff32,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-skimpleblue: (
  50: #e4e4e9,
  100: #bcbcc8,
  200: #8f90a3,
  300: #62647e,
  400: #414263,
  500: #1f2147,
  600: #1b1d40,
  700: #171837,
  800: #12142f,
  900: #0a0b20,
  A100: #5f69ff,
  A200: #2c39ff,
  A400: #0010f8,
  A700: #000edf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
