<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/admin">
      <img src="./assets/images/skimple.svg">
    </a>

    <div fxFlex fxLayoutAlign="end center">

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a routerLink="/" routerLinkActive="router-link-active" mat-menu-item>Ritorna al sito</a>
        <a mat-menu-item (click)="logout()">Logout</a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
