@import '~@angular/material/theming';
@import 'variables';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$skimple-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($skimple-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($skimple-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($skimple-typography);

// Override the typography in the core CSS.
@include mat-core($skimple-typography);

$skimple-app-primary: mat-palette($mat-skimplegreen);
$skimple-app-accent: mat-palette($mat-skimpleblue);

// The warn palette is optional (defaults to red).
$skimple-app-warn: mat-palette($mat-orange);

// Create the theme object (a Sass map containing all of the palettes).
$skimple-app-theme: mat-light-theme($skimple-app-primary, $skimple-app-accent, $skimple-app-warn);

@include angular-material-theme($skimple-app-theme);
