/* You can add global styles to this file, and also import other style files */
@import 'variables';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $skimple-blue;
}

.mat-drawer-content,
.mat-drawer,
.mat-list-item,
.mat-card,
.mat-toolbar {
  color: $skimple-blue !important;
}

.fab {
  font-size: 1.5em;
}

.fa-facebook-f {
  color: #3b5998 !important;
}
.fa-twitter {
  color: #1da1f2 !important;
}
.fa-instagram {
  color: #e1306c !important;
}
.fa-telegram-plane {
  color: #0088cc !important;
}

@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-center {
  text-align: center;
}

.is-mobile {
  .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;

    .mat-toolbar-row {
      padding: 0;
    }
  }
  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  mat-cell:first-child,
  mat-footer-cell:first-child,
  mat-header-cell:first-child {
    padding-left: unset !important;
  }

  mat-cell:last-child,
  mat-footer-cell:last-child,
  mat-header-cell:last-child {
    padding-right: unset !important;
  }

  .mat-cell,
  .mat-footer-cell {
    font-size: 12px;

    .mat-icon {
      font-size: 18px;
    }
  }
}

.mat-toolbar-row {
  transition: display 0.3s;
}

.shrink-toolbar {
  display: none !important;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

  .category-title {
    margin: 10px 0 0px 10px;
  }
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
